<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'list', book: @book %>
    </div>



    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
       <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opnion</th>
        </tr>
       </thead>
       <tbody>
    <% @books.each do |book| %>
     <% if book.user == @user %>
        <tr>
          <th>
              <%= link_to user_path(@user)  do %>
              <%= image_tag book.user.get_profile_image("63x63") %>
              <% end %>
            </th>
          <th><%= link_to book.title, book_path(book) %></th>
          <th><%= book.body %></th>
        </tr>
     <% end %>
    <% end %>
        </tbody>
       </table>

    </div>
  </div>
</div>